
/* stylelint-disable-next-line at-rule-no-unknown */
@use "variables" as *;

.dinert-overlay.#{$namespace}-overlay {
    &.autoHeight {
        .#{$namespace}-dialog {
            height: 80%;
        }
    }

    .#{$namespace}-dialog {
        top: 10%;
        display: flex;
        min-width: 310px;
        max-height: 80%;
        border-radius: 4px;
        flex-direction: column;

        --el-dialog-margin-top: 0;
        --el-dialog-padding-primary: 0;

        &.is-fullscreen {
            top: unset;
            max-height: unset;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 24px;
            height: 54px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--el-border-color-light);

            &-right {
                display: flex;
                align-items: center;

                &-full {
                    height: 100%;
                    font-size: var(--el-message-close-size, 16px);
                    color: var(--el-color-info);
                    background: transparent;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        .icon {
                            fill: var(--el-color-primary);
                            color: var(--el-color-primary);
                        }
                    }

                    .icon {
                        overflow: hidden;
                        width: 14px;
                        height: 14px;
                        vertical-align: -.15em;
                        fill: var(--el-color-info);
                    }
                }

                &-close {
                    margin-left: 12px;
                    font-size: 18px;
                    color: var(--el-color-info);
                    cursor: pointer;

                    &:hover {
                        color: var(--el-color-primary);
                    }
                }
            }
        }

        &__body {
            display: flex;
            overflow-y: auto;
            flex-direction: column;
            flex: 1;
            word-wrap: break-word;
            height: 0;

            & > .#{$namespace}-form {
                overflow: unset;
            }

            .#{$namespace}-scrollbar {
                display: flex;
                flex-direction: column;
            }
        }

        &__footer {
            display: flex;
            justify-content: center;
            align-items: center;
            clear: both;
            padding: 12px 24px 16px;

            .#{$namespace}-button {
                margin: 0;
            }

            .#{$namespace}-button + .#{$namespace}-button {
                margin-left: 12px;
            }
        }
    }
}
