/* stylelint-disable-next-line at-rule-no-unknown */
@use "variables" as *;

.#{$namespace}-form.dinert-form {
    display: flex;
    overflow: hidden;
    padding: 0;
    min-height: 50px;
    border-radius: 4px;
    background-color: var(--el-bg-color);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    box-sizing: content-box;

    &.near.packUp {
        max-height: 50px;
    }

    &.near {
        .dinert-form-left {
            .#{$namespace}-col {
                display: flex;
                align-items: center;
                margin-right: 10px;
                width: auto;
                max-width: unset;
                flex: unset;

                .label-text {
                    & > div > .#{$namespace}-cascader {
                        width: 210px;
                    }
                }
            }
        }

        .dinert-form-right {
            &.isArrow {
                width: 230px;
                flex: 0 0 230px;
            }
        }
    }

    &.dialog {
        .dinert-form-left {
            flex: 1;

            .#{$namespace}-col {
                .label-text {
                    & > div {
                        width: 100%;
                    }
                }

                &.slider {
                    .label-text {
                        overflow: unset;

                        .#{$namespace}-slider {
                            padding-left: 12px;

                            .#{$namespace}-input-number {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .dinert-form-left {
        .#{$namespace}-col {
            .label-text {
                .#{$namespace}-radio.is-bordered,
                .#{$namespace}-checkbox.is-bordered {
                    margin-right: 16px;
                }

                .#{$namespace}-date-editor {
                    width: 210px;
                }

                .#{$namespace}-date-editor--daterange {
                    width: 260px;
                }

                & > .#{$namespace}-input {
                    width: 210px;
                }

                & > .#{$namespace}-select {
                    width: 210px;
                }

                .#{$namespace}-date-editor--datetimerange {
                    width: 400px;
                }
            }
        }
    }

    .dinert-form-right {
        display: flex;
        margin-left: 24px;

        .dinert-form-right-operation {
            padding: 0;

            &.#{$namespace}-button.is-text {
                padding-right: 0;
                background-color: unset;
            }
        }
    }

    div.#{$namespace}-form-item:not(.#{$namespace}-form-item--label-top) {
        position: relative;
        display: flex;
        margin-right: 0;
        margin-bottom: 18px;
        width: 100%;

        &.show-label {
            .label-text {
                overflow: unset;
                text-overflow: unset;
                white-space: unset;
            }
        }

        &.label-wrap {
            .#{$namespace}-form-item__label {
                height: auto;

                .label-text {
                    display: inline;
                    text-align: left;
                    white-space: normal;
                }
            }
        }
    }

    div.#{$namespace}-form-item.#{$namespace}-form-item--label-top {
        margin-right: 0;

        .#{$namespace}-form-item__label {
            display: inline-flex;
        }

        .dinert-tooltip.#{$namespace}-tooltip__trigger .label-text {
            white-space: normal;
        }
    }

    .#{$namespace}-form-item__content {
        flex: 1;
        margin-left: 0;

        .#{$namespace}-tooltip__trigger:not(.#{$namespace}-slider__button) {
            width: 100%;
        }

        .#{$namespace}-input-number {
            width: 100%;

            .#{$namespace}-input__inner {
                text-align: center;
            }
        }

        .#{$namespace}-textarea {
            .#{$namespace}-textarea__inner {
                height: 80px;
            }
        }

        .#{$namespace}-date-editor {
            width: 100%;
            box-sizing: border-box;

            .#{$namespace}-input__wrapper {
                width: 100%;
                box-sizing: border-box;
            }
        }

        .#{$namespace}-input__inner {
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .#{$namespace}-form-item__label {
            overflow: hidden;
            width: 80px;
            max-width: 80px;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;

            .#{$namespace}-tooltip {
                display: inline;

                .label-text {
                    display: inline;
                }
            }
        }
    }
}
