$input-width: 200px;

.dinert-table-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &.text-wrap {
        .el-table__header .cell {
            white-space: pre-wrap;
        }

        .el-table__body {
            .el-table__row {
                td > .cell,
                td > .cell > .cell-item,
                td .cell.el-tooltip > .cell-item {
                    white-space: pre-wrap;
                }

                .el-button > span {
                    text-align: left;
                }

                span {
                    white-space: pre-wrap;
                    line-height: 23px;
                }
            }
        }
    }

    &.header-center {
        .el-table__header {
            .el-table__cell {
                text-align: center;
            }
        }
    }

    &.near {
        .el-form-left {
            flex: unset;

            .el-col {
                width: auto;
                flex: unset;
                max-width: unset;

                .el-form-item__label {
                    width: auto;
                }

                &.select,
                &.select-tree {
                    .el-select {
                        width: $input-width;
                    }
                }

                &.datetime {
                    .el-date-editor--datetime {
                        width: 220px;
                    }
                }

                &.datetimerange {
                    .el-date-editor--datetimerange {
                        width: 400px;
                    }
                }

                &.monthrange {
                    .el-date-editor--monthrange {
                        width: 260px;
                    }
                }

                &.input {
                    .el-input {
                        width: $input-width;
                    }
                }

                &.input-number {
                    .el-input-number {
                        width: $input-width;
                    }
                }

                &.input-autocomplete {
                    .el-autocomplete {
                        width: $input-width;
                    }
                }
            }
        }

        .dinert-table-footer {
            .el-pagination {
                margin-left: auto;
            }
        }
    }

    &.maxWidthAuto {
        .el-form .el-form-item .el-form-item__label {
            max-width: unset;
        }
    }

    .dinert-form {
        padding: 20px 20px 0;
        max-height: 300px;
    }

    .dinert-table {
        margin-top: 16px;
        height: 0;
        flex: 1;
    }
}
