/* stylelint-disable-next-line at-rule-no-unknown */
@use "variables" as *;

.tree-item {
    width: 100%;

    .#{$namespace}-tooltip__trigger {
        display: block;
        overflow: hidden;
        width: 100%;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.dinert-popover-classify {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li:first-child {
        border-bottom: 1px solid var(--el-fill-color);
        line-height: 32px;
    }

    & > .#{$namespace}-tree > .#{$namespace}-tree-node > .#{$namespace}-tree-node__content > .#{$namespace}-tree-node__expand-icon.is-leaf {
        display: none;
    }

    .#{$namespace}-tree-node__children {
        overflow: unset;
    }
}

.dinert-table {
    display: flex;
    padding: 20px;
    height: 100%;
    border-radius: var(--el-bg-radius);
    background-color: var(--el-bg-color);
    flex-direction: column;
    box-sizing: border-box;

    .dinert-table-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        text-align: right;

        .dinert-popover-classify li .#{$namespace}-checkbox {
            width: 100%;
            line-height: 24px;
            height: 24px;
        }

        .dinert-table-header-left {
            text-align: left;
        }
    }

    .dinert-table-body {
        flex: 1;
        height: 0;

        .#{$namespace}-table {
            &--border {
                &::after,
                &::before {
                    // display: none;
                }
            }

            .#{$namespace}-table__border-left-patch {
                // display: none;
            }

            .#{$namespace}-popper {
                max-width: 50%;
            }

            .#{$namespace}-table__header {
                // .#{$namespace}-table__cell {
                //     &:last-child {
                //         border-right: none;
                //     }

                //     border-right: none;
                //     border-bottom: none;
                // }
                .#{$namespace}-table__cell {
                    &.setting {
                        .setting-icon {
                            display: inline-block;
                        }
                    }

                    .cell {
                        // color: var(--zp-color-secondary-text-title);
                        // display: flex;

                        .setting-icon {
                            vertical-align: -1px;
                            margin-left: 4px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .#{$namespace}-table__body-wrapper {
                td {
                    // border-right: none;
                    // color: var(--zp-color-secondary-text-title);

                    .cell {
                        display: flex;
                        align-items: center;

                        &.#{$namespace}-tooltip > .cell-item {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            .cell-item-text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }

                .operations {
                    .#{$namespace}-dropdown {
                        vertical-align: -2px;
                    }

                    .cell {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .#{$namespace}-button {
                            margin-right: 8px;
                            margin-left: 0;

                            &:focus-visible {
                                outline: none;
                            }
                        }

                        .#{$namespace}-svg-icon {
                            font-size: 14px;
                            color: var(--el-color-primary);
                            cursor: pointer;
                            flex: 1;

                            &.delete {
                                color: var(--el-color-danger);
                            }
                        }

                        .svg-icon {
                            width: 16px;
                            height: 16px;
                            vertical-align: -2px;
                            flex: 1;
                            color: var(--el-color-primary);
                            cursor: pointer;
                            fill: var(--el-color-primary);

                            &.f-14 {
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .dinert-table-footer {
        display: flex;
        margin-top: 16px;

        .#{$namespace}-pagination {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
