/* stylelint-disable-next-line at-rule-no-unknown */
@use "variables" as *;

$input-width: 200px;

.dinert-table-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &.text-wrap {
        .#{$namespace}-table__header .cell {
            white-space: pre-wrap;
        }

        .#{$namespace}-table__body {
            .#{$namespace}-table__row {
                td > .cell,
                td > .cell > .cell-item,
                td .cell.#{$namespace}-tooltip > .cell-item {
                    white-space: pre-wrap;
                }

                .#{$namespace}-button > span {
                    text-align: left;
                }

                span {
                    white-space: pre-wrap;
                    line-height: 23px;
                }
            }
        }
    }

    &.header-center {
        .#{$namespace}-table__header {
            .#{$namespace}-table__cell {
                text-align: center;
            }
        }
    }

    &.near {
        .dinert-form-left {
            flex: unset;

            .#{$namespace}-col {
                margin-right: 16px;
                width: auto;
                max-width: unset;
                flex: unset;
            }
        }

        .dinert-table-footer {
            .#{$namespace}-pagination {
                margin-left: auto;
            }
        }
    }

    &.maxWidthAuto {
        .#{$namespace}-form .#{$namespace}-form-item .#{$namespace}-form-item__label {
            max-width: unset;
        }
    }

    .#{$namespace}-form.dinert-form {
        padding: 20px 20px 0;
        max-height: 300px;
    }

    .dinert-table {
        padding-top: 0;
        height: 0;
        flex: 1;
    }
}
